ion-toolbar{
    background-color: var(--ion-color-mycolor);
    color: azure;
}

.quantity-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
  
    ion-label.product-quantity {
      margin: 0 10px;
      font-size: 1.2em; /* Tamaño de fuente para la cantidad */
    }
  
    ion-button {
      --padding-start: 10px;
      --padding-end: 10px;
    }
  }
  