<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="container">
      <div class="ini">
        <ion-title></ion-title>
      </div>

      <img class="logo" alt="logo" src="../../assets/imagenes/logo.png">
      <ion-avatar>
        <img alt="Silhouette of a person's head" [src]="profile.photo || '../../assets/imagenes/avatar.jpeg'" />
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <h2>Mi Perfil</h2>
    <img [src]="profile.photo" alt="Foto de perfil" class="profile-image" *ngIf="!editingProfile && profile.photo">
    <div class="profile-info" *ngIf="!editingProfile">
      <label for="nombre">Nombre:</label>
      <p>{{ profile.nombre }}</p>
      <label for="email">Correo Electrónico:</label>
      <p>{{ profile.email }}</p>
      <button (click)="toggleEditing()" class="edit-button">Editar Perfil</button>
    </div>
    <div class="edit-form" *ngIf="editingProfile">
      <label for="newNombre">Nuevo Nombre:</label>
      <input type="text" id="newNombre" [(ngModel)]="newNombre">
      <label for="newEmail">Nuevo Correo Electrónico:</label>
      <input type="email" id="newEmail" [(ngModel)]="newEmail">
      <input type="file" (change)="onFileChange($event)">
      <button (click)="saveChanges()" class="save-button">Guardar Cambios</button>
      <button (click)="cancelEditing()" class="cancel-button">Cancelar</button>
    </div>
    <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
  </div>
</ion-content>
