ion-toolbar{
    background-color: var(--ion-color-mycolor); 
    color: rgb(250, 250, 250);
}

ion-content.fonthome {
    --background: url("../../assets/imagenes/home.png")  no-repeat center center / contain; 
  
  }


  div.cardpri{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
    
  }

  ion-card {
    --background: #edefef;
    --color: #080909;
  

  }

  ion-card-title {
    --color: #080909;
    text-align: center;

  }

  ion-card-subtitle {
    --color: #071513;
    text-align: center;
  }