<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="fonthome">
  
  <!-- Otros contenidos de tu página -->


  <div class="cardpri">
    <div class="ion-card-title">
      <ion-card>
        <ion-card-header>
          <ion-card-title>DeliAPP</ion-card-title>
          <ion-card-subtitle>Delivery Restaurants</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Compra y entrega a Domicilio de restaurantes de la Zona, DeliAPP te permite navegar en una interfaz agradable
          y dinamica. 
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  


 

</ion-content>
