<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="container">
      <div class="ini">
        <ion-title></ion-title>
      </div>

      <img class="logo" alt="logo" src="../../assets/imagenes/logo.png">
      <ion-avatar>
        <img alt="Silhouette of a person's head" [src]="profile.photo || '../../assets/imagenes/avatar.jpeg'" />
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p class="text"> Que Deseas Pedir ?</p>
  <div class="buscador">
    <ion-searchbar showCancelButton="focus" class="custom"></ion-searchbar>
  </div>

  <div class="migapan">
    <ion-breadcrumbs>
      <div>
        <img src="../../assets/imagenes/comer.png" alt="Comida" style="width: 50px; height: 50px; margin-right: 8px;">
        <ion-breadcrumb href="#home">
          Comida
        </ion-breadcrumb>
      </div>
      <div>
        <img src="../../assets/imagenes/bebidas.png" alt="Comida" style="width: 50px; height: 50px; margin-right: 8px;">
        <ion-breadcrumb href="#electronics">
          Bebidas
        </ion-breadcrumb>
      </div>
      <div>
        <img src="../../assets/imagenes/postre.png" alt="Comida" style="width: 50px; height: 50px; margin-right: 8px;">
        <ion-breadcrumb href="#cameras">
          Postres
        </ion-breadcrumb>
      </div>
    </ion-breadcrumbs>
  </div>
  
  <p class="tex">POPULAR </p>

</ion-content>
