ion-toolbar{
    background-color: var(--ion-color-mycolor);
    color: azure;
}

ion-card {
    margin: 16px;
  }
  
  ion-img {
    max-height: 200px;
    object-fit: cover;
  }
  
  ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-card-content p {
    font-size: 1em;
    color: #666;
  }

  .restaurant-image {
    max-width: 100px; /* Tamaño máximo de ancho */
    max-height: 100px; /* Tamaño máximo de alto */
    width: auto; /* Ajusta automáticamente el ancho en función del tamaño máximo */
    height: auto; /* Ajusta automáticamente la altura en función del tamaño máximo */
  }

  .restaurant-item {
    padding: 10px;
  }
  
  .restaurant-content {
    display: flex;
    align-items: center;
  }
  
  .restaurant-thumbnail {
    width: 100px; /* Ajusta el ancho del thumbnail según sea necesario */
    height: 100px; /* Ajusta el alto del thumbnail según sea necesario */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .restaurant-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que mantenga sus proporciones */
  }
  
  .restaurant-label {
    flex: 1; /* El contenido ocupa todo el espacio disponible */
  }

  .restaurantes-page {
    .restaurantes-container {
      background-color: #fff; /* Fondo negro */
      padding: 20px; /* Espaciado interior */
    }
  
    .restaurant-item {
      background-color: #fff; /* Fondo oscuro para cada ítem */
      margin-bottom: 10px; /* Espacio entre ítems */
      border-radius: 8px; /* Bordes redondeados */
      padding: 10px; /* Espaciado interior */
      color: #fff; /* Color de texto blanco */
    }
  
    .restaurant-content {
      display: flex;
      align-items: center;
    }
  
    .restaurant-thumbnail {
      width: 50px; /* Ajusta el ancho del thumbnail según sea necesario */
      height: 50px; /* Ajusta el alto del thumbnail según sea necesario */
      margin-right: 10px; /* Espacio entre la imagen y el texto */
    }
  
    .restaurant-thumbnail img {
      width: 50%;
      height: 50%;
      object-fit: cover; /* Ajusta la imagen para que mantenga sus proporciones */
      border-radius: 50%; /* Bordes redondeados para la imagen */
    }
  
    .restaurant-label {
      flex: 1; /* El contenido ocupa todo el espacio disponible */
    }

    .restaurant-item {
      .restaurant-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        .restaurant-thumbnail {
          position: relative;
    
          .pedido-button {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            max-width: 300px;
          }
        }
      }
    }
  }